.google_map_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.google_map_button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.google_container {
  width: 100vw;
  height: 100vh;
}

.google_desc {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 2.5rem;
  font-weight: bold;
}
