*{
    margin: 0;
    background-color: antiquewhite;
}
.main-container {
    display: flex; /* Use flexbox to place boxes side by side */
    flex-wrap: wrap; /* Allow boxes to wrap to the next line on smaller screens */
    justify-content: center; /* Space  evenly */
    text-align: center;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10opx;
    box-shadow: 1rem;
    border-radius: 2rem;

    background-color: rgb(250, 245, 235);


  }
  
  .box {
    width: calc(50% - 16px); /* Set a width for each box with some margin */
    margin: 8px; /* Add some spacing between the boxes */
    padding: 16px;
    border: 1px snow  #100f0f;
    box-sizing: content-box;
    height: 400px;
    width: 500px;
    margin: 30px;
    background: Linear-gradient(90deg,#093069 ,#648ac0);
    box-shadow: 1rem;
    border-radius: 2rem;
  }
  .box2{
    width: calc(50% - 16px); /* Set a width for each box with some margin */
    margin: 8px; /* Add some spacing between the boxes */
    padding: 16px;
    border: 2px snow #151414;
    box-sizing: content-box;
    height: 400px;
    width: 500px;
    margin: 30px;
    background: Linear-gradient(90deg,#093069 ,#648ac0);
    box-shadow:3rem;
    
    border-radius: 2rem;
  }
 .box h1{
    background: Linear-gradient(90deg,#093069 ,#4572b1);
    
  }
  .box2 h1{
    background: Linear-gradient(90deg,#093069 ,#4a7abc);

    
  }
  .icon{
    background-color: #04040400;
  }
  
  .icon2{
    background-color: #04040400;
  }
  .icon3{
    background-color: #04040400;
    justify-content: center;
    text-align: center;
    /* padding-left: 80px; */
    margin-left: 200px;
  }
  .icon4{
    background-color: #04040400;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
  }

  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .box {
      width: 100%; /* Make the boxes take up the full width on smaller screens */
    }
  }
  

  .hover-border-button {
    
    /* background: Linear-gradient(90deg,#2564CB ,#2465CD); */
    background-color: white;
    color: #0a0a0a;
    border: none;
    padding: 10px 20px; 
    font-size: 1.5 rem;
    margin-top: 50px;
    cursor: pointer;
    transition: border 0.3s ease-in-out; /* Adding the transition for the border */
    border-radius: 4px;
}

.hover-border-button:hover {
    border: 2px solid #58a7db; /* Change the border on hover */
}   
.box2 p{
  background-color: #04040400;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 20px;
    
    /* padding-left: 10px;
    padding-right: 10px; */
}
.box p{
    background-color: #04040400;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 20px;
    /* padding-left: 10px;
    padding-right: 10px; */
}